:global(.App) {
  text-align: center;
}

:global(.App-logo) {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

:global(.App-header) {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

:global(.App-title) {
  font-size: 1.5em;
}

:global(.App-intro) {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
